<div class="container">
  <div class="row" style="margin-top: 5%;">
    <form class="form">
      <div class="col-md-1 col-sm-2 col-xs-3">

        <div class="form-group">
          <a class="btn btn-primary btn-circle btn-xl" routerLink="/">
            <span style="vertical-align: -webkit-baseline-middle"><i class="fa fa-arrow-left"></i></span>
          </a>
        </div>
        <!-- div .col -->
      </div>

      <div class="col-md-10 col-sm-8 col-xs-6">
        <div class="form-group input-group">
          <input class="form-control" type="text" />
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
      <!-- div .col -->
      <div class="col-md-1 col-sm-2 col-xs-3">
        <div class="form-group">
          <a class="btn btn-success btn-circle btn-xl" href=#>
              <span style="vertical-align: -webkit-baseline-middle"><i class="fa fa-plus"></i></span>
          </a>
        </div>
      </div>
      <!-- div .col -->
    </form>
  </div>
  <!-- div .row -->
  <div class="row">
    <div class="col-md-4" style="margin-top: 2%">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-file-text-o fa-5x"></i></div>
        <div class="panel panel-default">
          <div class="panel-body">
            Document Title
          </div>
        </div>
      </div>
    </div>
    <!-- div .col -->
    <div class="col-md-4" style="margin-top: 2%">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-file-text-o fa-5x"></i></div>
        <div class="panel panel-default">
          <div class="panel-body">
            Document Title
          </div>
        </div>
      </div>
    </div>
    <!-- div .col -->
    <div class="col-md-4" style="margin-top: 2%">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-file-text-o fa-5x"></i></div>
        <div class="panel panel-default">
          <div class="panel-body">
            Document Title
          </div>
        </div>
      </div>
    </div>
    <!-- div .col -->
    <div class="col-md-4" style="margin-top: 2%">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-file-text-o fa-5x"></i></div>
        <div class="panel panel-default">
          <div class="panel-body">
            Document Title
          </div>
        </div>
      </div>
    </div>
    <!-- div .col -->
    <div class="col-md-4" style="margin-top: 2%">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-file-text-o fa-5x"></i></div>
        <div class="panel panel-default">
          <div class="panel-body">
            Document Title
          </div>
        </div>
      </div>
    </div>
    <!-- div .col -->
    <div class="col-md-4" style="margin-top: 2%">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-file-text-o fa-5x"></i></div>
        <div class="panel panel-default">
          <div class="panel-body">
            Document Title
          </div>
        </div>
      </div>
    </div>
    <!-- div .col -->
    <div class="col-md-4" style="margin-top: 2%">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-file-text-o fa-5x"></i></div>
        <div class="panel panel-default">
          <div class="panel-body">
            Document Title
          </div>
        </div>
      </div>
    </div>
    <!-- div .col -->
    <div class="col-md-4" style="margin-top: 2%">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-file-text-o fa-5x"></i></div>
        <div class="panel panel-default">
          <div class="panel-body">
            Document Title
          </div>
        </div>
      </div>
    </div>
    <!-- div .col -->
    <div class="col-md-4" style="margin-top: 2%">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-file-text-o fa-5x"></i></div>
        <div class="panel panel-default">
          <div class="panel-body">
            Document Title
          </div>
        </div>
      </div>
    </div>
    <!-- div .col -->
    <div class="col-md-4" style="margin-top: 2%">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-file-text-o fa-5x"></i></div>
        <div class="panel panel-default">
          <div class="panel-body">
            Document Title
          </div>
        </div>
      </div>
    </div>
    <!-- div .col -->
  </div>
  <!-- div .row -->
  <div class="row text-center">
      <nav aria-label="Page navigation">
          <ul class="pagination pagination-lg">
            <li class="disabled">
              <a href="#" aria-label="Previous" >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="active"><a href="#" >1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
  </div>
</div>
<!-- div .container -->